*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;

}
html, body{
    height: 100%;
    width: 100%;
font-size: 6px;
}
.container{
    max-width: 1170px;
    background-color: black;
    color: white;
    margin: auto;
    
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;

}
.footer{
    background-color:black ;
    padding: 10px 10px 10px 10px;
    margin-top: 38px;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 9px;
    text-transform: capitalize;
    margin-bottom: 9px;
    font-weight: 10px;
    position:relative;
    
}
.footer-col h4::before{
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    width: 50px;
}
a{
    text-decoration: none;
    color: white;
}